NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://card:card@localhost:5433/card?schema=public
DIRECT_URL=postgresql://card:card@localhost:5433/card?schema=public
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
